<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DeveloperTestEntities" connectionString="metadata=res://*/DeveloperTest.csdl|res://*/DeveloperTest.ssdl|res://*/DeveloperTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DeveloperTest;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>